/* some default settings */
nav, header, footer {
    display: block;
}
body {
    line-height: 1;
    margin: 0
    ;
}
.bg {
    background-image: url(images/shell.jpg);
    height: 100%;
    min-height: 500px;
    margin-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
    z-index: 0;
    top: 0;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after {
    display: table;
    clear: both;
    content: "";
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.83%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

/* styling the nav bar */
nav {
    width: 100%;
    margin: 0;
    height: 50px;
    position:fixed;
    background-color: peru;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing:border-box;
    clear:both;
    z-index: 1;
    height: 50px;
}

nav ul {
    background-color: peru;
    color:blanchedalmond;
    overflow:hidden; /* prevents user from scrolling over to see content that is cut off */
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

/*ul.topnav li.topnav-right a:hover {
    color: red;
    background-color: antiquewhite;
}*/

ul.topnav li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    min-height: 16px;/* prevents text from becoming too small */
    text-transform: uppercase;
}

nav a {
    color:blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover {
    color:pink;
}

ul.topnav li.dropdownIcon {
    display: none;
    color:blanchedalmond;
}

/* some custom styles */
.container {
    width: 100%;
    margin: auto;
    top:0;
    padding-top: 40px;
    padding-bottom: 40px;
}

#gradientBackground {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button.learnMore {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blanchedalmond;
    background-color: peru;
    padding: 15px 60px;
    display:block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
    margin:auto;
}

button.learnMore a {
    color:blanchedalmond;
}

button.learnMore a:hover {
    color:pink;
}

button.Submit {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
    background-color: gray;
    margin-left: 75px;
}

div.box {
    text-align: center;
    padding: 10px;
    margin: 20px;
    background-color:white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
    0 2px 3px 0 rgba(0,0,0,.1);
}

div.guitar {

}

div.leftSide-col {
    margin-left: 3%;
}

div.rightSide-col {
    margin-left: 3%;
}

div.secondShell img {
    height: 200px;
    display:block;
    margin:auto;
    margin-left: 30px;
    padding: 20px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
    0 2px 3px 0 rgba(0,0,0,.1);
}

div.thirdShell img {
    height: 200px;
    display:block;
    margin:auto;
    margin-right: 30px;
    padding: 20px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
    0 2px 3px 0 rgba(0,0,0,.1);
}

h1.large {
    color: darkslategrey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    line-height: 20px;
    text-align: left;
}

h1 {
    text-align: center;
    margin-left: 90px;
    line-height: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: peru;
    line-height: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    margin-left: 75px;
    color:gray;
    line-height: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header {
    background-color: transparent;
    padding: 0%;
}

label {
    color:darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight:bolder;
}

p {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article p {
    padding: 20px;
    font-size: 18px;
    font-weight:100;
    color:darkslategray;
    background-color: blanchedalmond;
    margin: 30px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
    0 2px 3px 0 rgba(0,0,0,.1);
}

input[type="email"] {
    margin-left: 75px;
    min-width: 100px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color:blanchedalmond;
}

input[type="password"] {
    margin-left: 75px;
    min-width: 100px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: blanchedalmond;
}

footer {
    background-color: darkslategray;
    text-align: center;
}

footer p {
    color:blanchedalmond;
    text-align: center;
}
 footer a {
     color: blanchedalmond;
 }

footer h2 a {
    color:peru;
    text-decoration: none;
}

 footer a:hover {
    color:pink;
}


/* for mobile devices */
@media screen and (max-width: 750px) {
    ul.topnav li:not(:nth-child(1)) { /* this ensures that only the home button is visible on mobile devices*/
        display: none;
    }


    ul.topnav li.dropdownIcon {
        display:block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav li.dropdownIcon a:hover {
        color: black;
        background-color:blanchedalmond;
    }

    ul.topnav.responsive {
        position:relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    .bg {
        width: 100%;
        margin:0;
        max-height:1000px;
    }

    .col-6 { /* this stacks the two columns vertically in mobile*/
        width: 100%;
        margin: 0;
    }

    .col-4 { /* this stacks the three columns vertically in mobile*/
        width: 100%;
        margin: 0;
    }

    .col-3 {
        width:100%;
        margin: 0;
    }

    .videoContainer iframe {
        position: relative;
        width: 100%;
        margin: 0;
        overflow:hidden;
    }

    div.secondShell img {
        margin-bottom: 10px;
    }
    div.thirdShell img {
        margin-top: 10px;
    }

}