@charset "utf-8";
/* CSS Document */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

header {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color:darkslateblue;
	color:gold;
	box-sizing: border-box;
	clear: both;
	z-index: 1;
	height: 75px;
}
 body {
     margin-top: 100px;
     background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }
 form {
     margin: top 125px;
 }

