body {
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

@font-face {
    font-family: OriginTech;
    src: url(fonts/OriginTech\ personal\ use.otf);  
    }
@font-face {
    font-family: FutureLight ;
    src: url(fonts/Future\ Light.ttf);
    }
@font-face {
    font-family: Rajdhani;
    src: url(fonts/Rajdhani-Light.ttf);
    }
@font-face {
    font-family: RajdhaniBold ;
    src: url(fonts/Rajdhani-Bold.ttf);
    }
h1 {
    font-family: OriginTech;
    color: crimson;
    font-size: 48pt;
    }

h2 {
    font-family: FutureLight ;
    color: crimson
    font-size: 72pt;
    }


p {
    float:right;
    padding-right: 20px;
    }

p {
    font-family: Rajdhani ;
    color:black;
    font-size: 18pt;
    }

.navbar {
    background-color: cornflowerblue;
    overflow:hidden;
    position: fixed;
    bottom: 0;
    }

.navbar a {
    float:left;
    color:crimson;
    text-align: center;
	align-content: center;
	padding: 14px 16px;
	font-family: "RajdhaniBold";
	font-size: 18px;
}

.navbar a:hover {
	background-color:ghostwhite;
	color:maroon;
}